.time-picker-container {
    margin-top: 300px;
} 

.picker-input {
    position: relative;
} 

.picker-input span i {
    position: absolute;
    left: 92%;
    top: 30%;
} 

.picker-dropdown {
    background: lightgray;
    overflow-y: scroll;
    width: auto;
    height: 350px;
    display: none;
} 

.hide {
    display: none;
} 

.form-control-picker {
    margin: 0;
    font-family: inherit;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 0.25rem;
} 

.picker-dropdown ul {
    border-radius: 0.25rem;
    text-align: center;
    padding-left: 0px;
}

.picker-dropdown ul li {
    display: block;
    list-style-type: none;
    padding: 10px;
    cursor: pointer;
} 

.picker-dropdown ul li.time-hover:hover {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}


.selected {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
    border: 1px solid #ffc107;
} 

.disabled {
    color: darkgray;
} 

.not-allowed {
    pointer-events: none;
    /* TODO: cursor: not-allowed !important;  */
}